mixin radio-button() 
  .radio-btn
    ul.radio-btn__list
      li.radio-btn__item 
        label.radio-btn__label
          input.radio-btn__input(type="radio" name="gender" checked="checked")
          span.radio-btn__span Мужчина
      li.radio-btn__item 
        label.radio-btn__label
          input.radio-btn__input(type="radio" name="gender")  
          span.radio-btn__span Женщина