mixin like-button({count, isActive})
  -
    let likeButtonClass = "like-btn__button";

    if(isActive) {
      likeButtonClass +=" like-btn__button--active"
    }

  .like-btn
    button(class=likeButtonClass, type="button")= count     