include ../../block/checkbox/checkbox.pug
include ../../block/description/description.pug

mixin checkbox-expandable({description})     
  details.checkbox-expandable    
    summary.checkbox-expandable__summary= description
    +checkbox({title: 'Завтрак'})
    +checkbox({title: 'Письменный стол', checked: 'checked'})
    +checkbox({title: 'Стул для кормления', checked: 'checked'})
    +checkbox({title: 'Кроватка', checked: 'checked'})
    +checkbox({title: 'Телевизор'})
    +checkbox({title: 'Шампунь'}) 