@import "../../style/color.scss";
$font-stack: Montserrat, Arial, sans-serif;

html{
  box-sizing:border-box
}

html *{
  box-sizing:inherit
}

html *::after,
html *::before{
  box-sizing:inherit
}

body{
  margin:0;
  position:inherit
}

.dropdown-description {
  display: flex;  
  font: 100% $font-stack;
  font-size: 12px;
  font-weight: bold;
  color: $dark-shade-100;
  margin-bottom: 5px; 
}


.iqdropdown{
  -webkit-tap-highlight-color:transparent;
  box-sizing:border-box;
}

.iqdropdown *{
  -webkit-tap-highlight-color:transparent;
  box-sizing:border-box;
}

.iqdropdown *::after,
.iqdropdown *::before{
  box-sizing:inherit
}

.iqdropdown *:not(input){
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.iqdropdown *:focus{
  outline:none
}
.iqdropdown h1,
.iqdropdown h2,
.iqdropdown h3,
.iqdropdown h4,
.iqdropdown h5,
.iqdropdown h6{margin:0}

.iqdropdown p{margin:0}

.iqdropdown ul,
.iqdropdown ol{
  list-style-type:none;
  margin:0;padding:0}

.iqdropdown a{cursor:pointer}

.iqdropdown button{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:none;
  border:0;
  cursor:pointer;
  margin:0;
  padding:0
}

.iqdropdown select::-ms-expand{
  display:none
}

.iqdropdown input::-ms-clear{
  display:none;
  height:0;
  width:0
}

.iqdropdown 
.icon-decrement{
  display:inline-block;
  height:15px;
  margin:auto;
  min-width:15px;
  position:relative;
  width:15px
}

.iqdropdown 
.icon-decrement::after{
  background:#002674;
  content:'';
  display:block;
  height:3px;
  position:absolute;
  top:6px;
  transition:-webkit-transform 0.25s ease-in-out;
  transition:transform 0.25s ease-in-out;
  transition:transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width:15px
}

.iqdropdown 
.icon-decrement.icon-increment::before{
  background:#002674;
  content:'';
  display:block;
  height:3px;
  position:absolute;
  top:6px;
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:-webkit-transform 0.25s ease-in-out;
  transition:transform 0.25s ease-in-out;
  transition:transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;  
  width:15px
}

.iqdropdown 
.iqdropdown-menu{
  background-color:#FFFFFF;
  box-shadow: 1px 1px 1px rgba(31, 32, 65, 0.5);
  cursor:default;
  display:none;
  left:0;
  margin:-2px -1px -1px;
  position:absolute;
  right:0;
  top:44px;
  transition:all 0.2s ease-in-out;
  z-index:99999;
  border-radius: 0 0 4px 4px;
  border: 1px solid rgba(31, 32, 65, 0.5); 
}

.iqdropdown 
.iqdropdown-menu-option{
  align-items:center;
  display:flex;
  height:35px;
  padding:0 6px 0 14px;
  margin-top: 2px;
}

.iqdropdown 
.iqdropdown-menu-control{
  align-items:center;
  display:flex;
  height:45px;
  padding:8px 6px 0 13px;
  justify-content: space-between;
}

 
.iqdropdown-menu-control button {
  align-items:center;
  display:flex;
  height:45px;
  transition:all 0.2s ease-in-out;  
  font-family:$font-stack;
  color: $button-primary-color; 
  font-weight: bold;
  font-style: normal;
  font-size: 12px; 
}

.iqdropdown 
.iqdropdown-menu-option:last-child{
  border:0
}

.iqdropdown 
.iqdropdown-menu-close{
  color:$dark-shade-100;
  font-family:$font-stack;
  font-size:14px;
  font-weight:600;
  height:20px;
  margin:20px 0;
  padding:0 15px;
  text-align:right;
  width:100%
}

.iqdropdown.menu-open 
.iqdropdown-menu{
  display:block
}
@media only screen and (max-width: 640px){
  .iqdropdown .iqdropdown-menu.mobile-top-menu{
    top:-285px
  }
}

.iqdropdown-content{
  flex:1;
  padding-right:10px;
}

.iqdropdown-item{
  color:$dark-shade-100;
  font-family:$font-stack;
  font-size:12px;
  font-weight:bold;
  text-transform: uppercase;
}

.iqdropdown p.iqdropdown-description{
  color:$dark-shade-100;
  font-family: $font-stack;
  font-size:14px;
  font-weight:400;
  margin-top:5px;  
}

.iqdropdown 
.iqdropdown-item-controls{
  display:flex;
  height:30px;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
}

.iqdropdown 
.iqdropdown-item-controls 
.counter{
  color:$dark-shade-100;
  font-family: $font-stack;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 25px;
  height: 15px;
  margin: 6px 4px;
}

.iqdropdown 
.iqdropdown-item-controls button{
  align-items:center;
  border:1px solid rgba(31, 32, 65, 0.5);
  border-radius: 22px;
  display:flex;
  width: 30px;
  height:30px;
  padding:0;
  font-size: 18px;
  color: $dark-shade-50;
  font-style: normal;
  font-weight: 400;
  //transition:all 0.2s ease-in-out
  
}
.iqdropdown 
.iqdropdown-item-controls
.button-decrement__dimly {
  border:1px solid rgba(31, 32, 65, 0.25);
}

.iqdropdown 
.iqdropdown-item-controls button:hover{
  background-color:#eee
}

.iqdropdown 
.iqdropdown-item-controls button.button-decrement::after{
    position: relative;
    margin: 0 11px;
    content: '-';
}

.iqdropdown 
.iqdropdown-item-controls button.button-increment::after{
    position: relative;
    margin: 0 9px;
    content: '+';
    
}

.iqdropdown{
  align-items:center;
  border:1px solid #E2E2E2;
  border-radius:4px;
  cursor:pointer;
  display:flex;
  height:44px;
  justify-content:space-between;
  padding:0 15px;
  position:relative;
  width:320px;
}

.iqdropdown 
.iqdropdown-selection{
  color:$dark-shade-75;
  font-family:$font-stack;;
  font-size:14px;
  font-weight:400;
  font-style: normal;
  flex:1;
  position:relative
}

.iqdropdown 
.iqdropdown-selection::after{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAMAAABGBS09AAAAeFBMVEVMaXGVlZWRkZGRkZH///+UlJSRkZGQkJCRkZGZmZmRkZGRkZGSkpKRkZGVlZWQkJCdnZ2QkJCVlZWUlJSQkJCXl5eRkZGSkpKRkZGSkpKRkZGRkZGRkZGRkZGQkJCQkJCRkZGSkpKQkJCRkZGTk5OSkpKRkZGQkJAWlBl2AAAAJ3RSTlMAHcnXATdy+f4FzLJg5ySKDYgMJuYbSm61XtmUmcc1qkiq9fVHWVidqGmEAAAAhUlEQVR42o2O5w7CYAhF6e7XvfdwtN73f0OhatLUxnj+wMklAP2mHGpFX6h6KLn0QFcds6oDeq6rC6DJ91HeAHAf0k4jACdOPlESOwDG6WVmW7CFgblJELIULcubLJVh3SKydFmTZrQn8uXMdZYH/IiOXAxsGAudoOwbcLcVnaN5nkb/8gRapQtVGGewNQAAAABJRU5ErkJggg==);
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
  content:'';
  display:inline-block;
  height:5px;
  width:12px;
  position:absolute;
  right:0;
  top:40%
}

.iqdropdown.menu-open{
  border: 1px solid rgba(31, 32, 65, 0.5); 
  border-radius: 4px 4px 0 0;   
  box-shadow: 1px 1px 1px rgba(31, 32, 65, 0.5);
}

.iqdropdown.menu-open 
.iqdropdown-selection::after{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAMAAABGBS09AAAAe1BMVEVMaXH///+ZmZmqqqqVlZWdnZ2Xl5eVlZWVlZWUlJSQkJCUlJSTk5ORkZGRkZGRkZGSkpKRkZGSkpKSkpKRkZGQkJCRkZGRkZGRkZGQkJCSkpKRkZGRkZGRkZGRkZGRkZGRkZGRkZGQkJCRkZGQkJCRkZGQkJCRkZGQkJAwdLQhAAAAKHRSTlMAAQUGDA0bHSQmNTdHSEpYWV1gbnKIi5SZqqqytcfJzNfZ5uf19fn+jEECQQAAAIhJREFUeNqNj+cSwkAIhLn0Znoz7dLD+z9hII6OJTruH5b9mDuAv2VKaX5BSjojLqlyxi49Huq9D2TVlG/VdaNSWy9Iy1YKOxfA7cismfZAIhopmWJxNPFEzRiJG3NaHs71+6ye8zOtwz7kbxobnmQ3vEBArkAcfHiTPyAWVI0yOTlNTUoDfmoHOBIMkOONx34AAAAASUVORK5CYII=)
}

