mixin dropdown({type, text, status, isExpanded, isButtons})
  -  
    var rooms = ['спальни','кровати','ванные комнаты'];
    var peoples = ['взрослые','дети','младенцы'];
    if (type==='rooms') {
      data = rooms
    } else {
      data = peoples
    };
    let dataId = 1;    
  .dropdown-description 
    .dropdown-description--left= text
    .dropdown-description--right  #{status}
  .iqdropdown
    p.iqdropdown-selection(data-buttons = isButtons  data-type=type data-expanded = isExpanded data-selection-text='Гость' data-text-plural='Гостей')
    .iqdropdown-menu
      .iqdropdown-menu__wrap
        each item in data        
          div.iqdropdown-menu-option(data-id='item'+dataId)
            - dataId +=1;
            div
              p.iqdropdown-item #{item}
        .iqdropdown-menu-control
      
        