include ../../block/checkbox/checkbox.pug
include ../../block/description/description.pug

mixin checkbox-group({description})  
  .checkbox-group 
    .checkbox-group__title                
      +description({text: description, type: 'h3', upperCase: 'true'})
    .checkbox-group__checkbox 
      +checkbox({ title: 'Можно курить'})
      +checkbox({ title: 'Можно с питомцами', checked: 'checked'})
      +checkbox({ title: 'Можно пригласить гостей (до 10 человек)', checked: 'checked'}) 