.landing-block {
  box-sizing: border-box;
  height: 832px;
  background-image: url('./img/room.png');
  background-repeat: no-repeat;
  background-position: center -69px;
  background-size: cover;

  &__container {
    @include container;
  }

  &__wrap {
    position: relative;
    padding-top: 70px;
    min-height: 830px;
  }

  &__info {
    position: absolute;
    right: 4px;
    bottom: 20px;
    width: 297px;

    &-text {
      margin: 0;
      font-size: 14px;
      line-height: 24px;
      text-align: right;
      color: $mainColor--opacity-75;
    }
  }
}