.headers-footers {
  background-color: #e5e5e5;


  &__wrap {
    margin-top: 58px;
  }
  
  &__element {
    margin-bottom: 37px;    

    &--small {
      width: 60%;
      margin: 0 auto;
    }
  }

}