doctype html
html(lang="ru")
  head  
    include ../../block/header/header.pug 
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title      
  body
    .headers-footers
      .logo
        +logo()
      .headers-footers__wrap
        +header
        
