include ../../block/header/header.pug 
include ../../block/footer/footer.pug

doctype html
html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title      
  body
    .headers-footers
      .logo
        +logo()
      .headers-footers__wrap
        .headers-footers__element
          +header({})
        .headers-footers__element
          +header({isAuth: true})
        .headers-footers__element
          +footer
        .headers-footers__element.headers-footers__element--small          
          +footer-small
        
