/* Rectangle 2 */
@import "./src/style/color.scss";

.btn {          
    position: relative;
    width: 99px;
    height: 44px; 
    padding: 2px;
    box-sizing: border-box;
    $border: 2px;
    color: $button-primary-color;
    background: #FFF;
    background-clip: padding-box; /* !importanté */
    border: solid transparent; /* !importanté */
    border-radius: 22px;
    font-family: inherit;
    
}

.btn-border {
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -2px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(180deg, $button-primary-color 0%, $button-second-color 100%);
    }
}

.btn--border-opacity {
    &:before{
        opacity: 0.5;
    }
}

.btn-color {    
    border: transparent; /* !important */
    background: linear-gradient(180deg, $button-primary-color 0%, $button-second-color 100%);
    color:#FFF;    
}

.btn-color-opacity {
    opacity: 0.5;    
}

.btn-circle {
    border: transparent;
    width: 44px;
    height: 44px; 
    background: linear-gradient(180deg, $button-primary-color 0%, $button-second-color 100%);
    color:#FFF;
}