button(type="button" class="btn btn-border") CLICK ME
button(type="button" class="btn btn-border btn--border-opacity") CLICK ME
button(type="button" class="btn btn-color") CLICK ME
button(type="button" class="btn btn-color btn-color-opacity") CLICK ME
button(type="button" class="btn btn-circle") 1