mixin button({text, type, isVisited, isLarge, isGreen, withArrow})
  -
    let buttonClass = 'btn';

    const types = ['classic', 'transparent', 'url', 'circle'];


    if(types.includes(type)) {
      buttonClass += ` btn--${type}`;
    }

    if(isVisited) {
      buttonClass += ` btn--${type}-visited`;
    }

    if(isLarge) {
      buttonClass += ` btn--large`;
    }

    if (isGreen) {
      buttonClass += ` btn--circle-green`;
    }

    if(withArrow) {
      buttonClass += ` btn--with-arrow`;
    }

  button(type='button' class=buttonClass)=text


    

