.btn {          
  position: relative;
  width: 99px;
  height: 44px; 
  padding: 2px;
  box-sizing: border-box;
  $border: 2px;
  color: $purpleColor;
  background: $whiteColor;
  background-clip: padding-box; 
  border: solid transparent; 
  border-radius: 22px;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;  

  &__text {
    margin-right: 2px;
  }

  &--large {
    width: 320px;
    background-image: url("./img/arrow.svg");
    background-repeat: no-repeat;
    background-position:  55% 50%; 

    &::after {
      position: absolute;
      top: 0%;
      right: 0;
      width: 44px;
      height: 44px;
      content: '';
      background: url("./img/arrow.svg") no-repeat;
      background-position: center center;
      transition: background .2s ease;
    }
  }

  &--with-arrow {
    &::after {
      position: absolute;
      top: 0%;
      right: 0;
      width: 44px;
      height: 44px;
      content: '';
      background: url("./img/arrow.svg") no-repeat;
      background-position: center center;
      transition: background .2s ease;
    }
  }

  &--url {

    &:hover{
      color: $mainColor--opacity-50;
    }

    &-visited {
      color: $mainColor--opacity-50;
    }
  }
  

  &--transparent {

    &::before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: $purpleGradient;           
    }

    &:hover::before {
      opacity: 0.5;
    }
 
    &-visited {
      &::before {
        opacity: 0.5;
      }
    }    
  } 

  &--classic {
    border: transparent;
    background: $purpleGradient;
    color: $whiteColor;  

    &:hover {
      opacity: 0.5;
    }  
  
    &-visited {
      opacity: 0.5;
    }
  }    
}