/* Rectangle 2 */
@import "./src/color.scss";
.btn {
    position: relative;
    width: 99px;
    height: 44px;     
    box-sizing: border-box;
    $border: 5px;
    background: #FFF;
    background-clip: padding-box; /* !important */
    border: transparent; /* !important */
    border-radius: 22px;
  &:before {
    content: '';
    position: absolute;
    top: -2; right: -2; bottom: -2; left: -2;
    z-index: -1;
    margin: -$border; /* !important */
    border-radius: inherit; /* !important */
    background: linear-gradient(180deg, $button-primary-color 0%, $button-second-color 100%);
    
  }
}

.btn-color {
    background: linear-gradient(180deg, $button-primary-color 0%, $button-second-color 100%);
    color:#FFF;
}

.btn-color-opacity {
    opacity: 0.5;
}

.btn-circle {
    width: 44px;
    height: 44px; 
}