mixin button({text, type, isVisited, isLarge, isMedium, isSmall, isTight, withArrow})
  -
    let buttonClass = 'btn';

    const types = ['classic', 'transparent', 'url'];


    if(types.includes(type)) {
      buttonClass += ` btn--${type}`;
    }

    if(isVisited) {
      buttonClass += ` btn--${type}-visited`;
    }

    if(isLarge) {
      buttonClass += ` btn--large`;
    }

    if(isMedium) {
      buttonClass += ` btn--medium`;
    }

    if(isSmall) {
      buttonClass += ` btn--small`;
    }

    if(withArrow) {
      buttonClass += ` btn--with-arrow`;
    }

    if(isTight) {
      buttonClass += ` btn--tight`;
    }

  button(type='submit' class=buttonClass)
    span.btn__text= text


    

