include ../../block/checkbox/checkbox.pug
include ../../block/description/description.pug

mixin checkbox-rich-group({description})  
  .checkbox-rich-group 
    .checkbox-rich-group__title                
      +description({text: description, type: 'h3', upperCase: 'true'})
    .checkbox-rich-group__checkbox 
      +rich-checkbox({
        title: 'Широкий коридор',
        text: 'Ширина коридоров в номере не менее 91 см'
      })              
      +rich-checkbox({
        title: 'Помощник для инвалидов',
        text: 'На 1 этаже вас встретит специалист  и проводит до номера.'
      }) 