mixin toggle-button()
  .toggle-btn
    .toggle-btn__wrap
      label.toggle-btn__label
        input.toggle-btn__input(type="checkbox" checked="checked")
        span.toggle-btn__span Получать спецпредложения
    .toggle-btn__wrap
      label.toggle-btn__label
        input.toggle-btn__input(type="checkbox")
        span.toggle-btn__span Получать спецпредложения  