mixin toggle-button({isChecked})  

  .toggle-btn
    .toggle-btn__wrap
      label.toggle-btn__label
        input.toggle-btn__input(type="checkbox" checked=isChecked)
        span.toggle-btn__span Получать спецпредложения    