doctype html
html(lang="ru")
  head  
    include ../../block/logo/logo.pug
    include ../../block/find-room/find-room.pug
    include ../../block/registration/registration.pug   
    include ../../block/total-price/total-price.pug
    include ../../block/room-card/room-card.pug
    include ../../block/login/login.pug
    include ../../block/datepicker/datepicker.pug    
    include ../../block/dropdown/dropdown.pug
    include ../../block/button/button.pug
    include ../../block/input/input.pug    
    include ../../block/radio-button/radio-button.pug    
    include ../../block/toggle/toggle.pug
    

    title      
  body
    .logo
      +logo()
    .cards__container
      .cards__column
        +find-room 
        +registration
      .cards__column
        +total-price
        +login
      .cards__column
        .cards__datepicker
          +datepicker-inline("")
        .cards__slider
          +room-card
        //.cards__slider
          +room-card