.cards {

  background-color: #E5E5E5;

  &__container {
    padding: 68px 0 140px 140px;
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    position: relative;
    margin-right: 40px;
  }


  &__datepicker {
    margin-bottom: 350px;
  }

}