include ../../block/logo/logo.pug
include ../../block/find-room/find-room.pug
include ../../block/registration/registration.pug   
include ../../block/total-price/total-price.pug
include ../../block/room-card/room-card.pug
include ../../block/login/login.pug


doctype html
html(lang="ru")
  head 
    title      
  body
    .logo
      +logo()
    .cards__container
      .cards__column
        +find-room 
        +registration        
      .cards__column
        +total-price
        +login
      .cards__column
        .cards__datepicker
          +datepicker-inline("")
        .cards__slider
          +room-card({
            number: '888', isLux: 'true', price:'9900', rating: '5', review:'145',
            images: [
              {src: require('../../block/room-card/img/room-card-0.png'), alt: 'room'},
              {src: require('../../block/room-card/img/room-card-0.png'), alt: 'room'},
              {src: require('../../block/room-card/img/room-card-0.png'), alt: 'room'},
              {src: require('../../block/room-card/img/room-card-0.png'), alt: 'room'}
            ]
          })
        .cards__slider
          +room-card({
            number: '840', price:'9900', rating: '4', review:'65',
            images: [
              {src: require('../../block/room-card/img/room-card-1.png'), alt: 'room'},
              {src: require('../../block/room-card/img/room-card-1.png'), alt: 'room'},
              {src: require('../../block/room-card/img/room-card-1.png'), alt: 'room'},
              {src: require('../../block/room-card/img/room-card-1.png'), alt: 'room'}
            ]
          })