@import "fonts/Montserrat/fonts.css";
@import "fonts/Montserrat-Bold/fonts.css";
@import "color.scss";
$font-stack: Montserrat;
$font-stack-bold: Montserrat-Bold;

body {
  font: 100% $font-stack;
  color: $dark-shade-100;
  
}
.container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div-color { 
  position: relative;
  display: flex;
  flex-direction: row; 
  align-items: center;
  left: 132px; 
  top: 127px;
  margin: 10px;
  box-sizing: border-box;
}

.div-color-block {
}

.div-color-text{    
  position: relative;
  left: 40px;
  font-size: 19px;
}

.text-color{ 
  position: relative; 
  margin: 5px 0;
}

.text-color-bold{
  font: 100% $font-stack-bold;
  font-weight: 900;
}
.square {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
.square-dark-shade-100 {  
  background-color: $dark-shade-100;
}
.square-dark-shade-75 {  
  background-color: $dark-shade-75;
}
.square-dark-shade-50 { 
  background-color: $dark-shade-50;
}
.square-dark-shade-25 { 
  background-color: $dark-shade-25;
}
.square-dark-shade-5 {
  background-color: $dark-shade-5;
}
.square-purple {
  background-color: $button-primary-color;
}
.square-green {
  background-color: $button-green-color;
}
