mixin description({text, type, upperCase})
  -
    const types = ["h1", "h2", "h3", "body"];
    const typeTag = {
      "h1": "h1",
      "h2": "h2",
      "h3": "h3",
      "body": "p"
    };

    let descriptionClass = "description";

    if(types.includes(type)) {
      descriptionClass += ` description--${type}`;
    }

    if(upperCase) {
      descriptionClass += ` description--upper`;
    }

  #{typeTag[type]}(class=descriptionClass)=text
