include ../../block/header/header.pug 
include ../../block/footer/footer.pug 

doctype html
html(lang="ru")
  head    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')
    //- link(rel='shortcut icon' href=require('../../favicon/favicon.ico'))
    //- link(rel='apple-touch-icon' href=require('../../favicon/apple-touch-icon.png'))
    //- link(rel='icon', type='image/png', sizes='32x32', href=require('../../favicon/favicon-32x32.png'))
    //- link(rel='icon', type='image/png', sizes='16x16', href=require('../../favicon/favicon-16x16.png'))
    title      
  body
    +header({})
    block content
    +footer