include ../../../../block/datepicker/datepicker.pug
include ../../../../block/dropdown/dropdown.pug
include ../../../../block/checkbox-group/checkbox-group.pug
include ../../../../block/checkbox-rich-group/checkbox-rich-group.pug
include ../../../../block/checkbox-expandable/checkbox-expandable.pug
include ../../../../block/description/description.pug
include ../../../../block/slider/slider.pug

mixin filter
  .filter
    .filter__wrap 
      .filter__item.filter__item--less-indent
        +datepickerRange('ДАТА ПРЕБЫВАНИЯ В ОТЕЛЕ')
      .filter__item
        +dropdown({type: 'peoples', text: 'гости', isButtons: 'true'})
      .filter__item
        +rangeSlider({text:'диапазон цены'})
        p.filter__info Стоимость за сутки пребывания в номере
      .filter__item
        +checkbox-group({description: 'правила дома'})
      .filter__item
        +checkbox-rich-group({description: 'доступность'})
      .filter__item
        +dropdown({type: 'rooms', text: 'удобства номера'})
      .filter__item
        +checkbox-expandable({description: 'дополнительные удобства'}) 
