doctype html
html(lang="ru")
  head
    //meta charset="utf-8" - косяк синтаксиса, разобраться       
    title
  body 
    div 
      p UI Kit
      p
        a(href="color&type.html") Color & Type
      p
        a(href="form-elements.html") Form Elements  