doctype html
html(lang='ru')
  head          
    title
  body 
    .url-page
      .url-page__container 
        p UI Kit
        p
          a(href='color&type.html') Color & Type
        p
          a(href='form-elements.html') Form Elements  
        p
          a(href='cards.html') Cards 
        p
          a(href='headers&footers.html') headers & footers 
        p
          a(href='landing.html') landing
        p
          a(href='search-room.html') search-room
        p
          a(href='room-details.html') room-details 
        p
          a(href='registration.html') registration
        p
          a(href='sign-in.html') sign-in
            