doctype html
html(lang="ru")
  head
    //meta charset="utf-8" - косяк синтаксиса, разобраться       
    title
  body 
    div 
      p UI Kit
      p
        a(href="color&type.html") Color & Type
      p
        a(href="form-elements.html") Form Elements  
      p
        a(href="cards.html") Cards 
      p
        a(href="headers&footers.html") headers & footers 
      p
        a(href="landing.html") landing
      p
        a(href="search-room.html") search-room