$dark-shade-100: RGBA(31, 32, 65, 1);
$dark-shade-75: RGB(31, 32, 65, 0.75);
$dark-shade-50: RGB(31, 32, 65, 0.50);
$dark-shade-25: RGB(31, 32, 65, 0.25);
$dark-shade-5: RGB(31, 32, 65, 0.05);
$button-primary-color: #BC9CFF;
$button-second-color:#8BA4F9;
$button-green-color: #6FCF97;