@import "fonts/Montserrat/fonts.css";
@import "color.scss";
$font-stack: Montserrat, Arial, sans-serif;

html,
body {
  height: 100%;
}

html {
  font-family: $font-stack;
  font-size: 14px;
  color: $mainColor;
  background-color: $whiteColor;
  margin: 0;
  padding: 0;
}

@mixin container() {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  width: 82%;
  min-width: 320px;
  max-width: 1920px;

  @media (max-width: 1300px) {
    width: 90%;
  }

  @media (max-width: 425px) {
    margin: 0;
    padding: 0;
    width: auto;
  }
}