@import "../../style/color.scss";

.input-date {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  width: 320px;
}

.input-date-default {
  position: relative;
  display: flex;
  width: 320px;
  height: 44px;
  font-size: 12px;
  color: $dark-shade-50;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-bottom: 10px;
  &:focus {
    color: rgba(31, 32, 65, 1);
    border: 1px solid rgba(31, 32, 65, 1);   
  }
  
}