
.form-elements-container {
  position:absolute;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 143px 0px 10px 141px;
}

.input__date-inputs {
  width: 56%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 41px;
}

.datepicker--filter {
  width: 266px;
  height: 44px;
  font-size: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background-position: 94% 54%;
}

.datepicker-here {
  margin: 5px 0 0 0;
  background-image: url("../../img/expand_more.png");
  background-repeat:no-repeat;  

  // &::after {
  //   background-image: url("../../img/expand_more.png");
  //   background-position:center;
  //   background-repeat:no-repeat;
  //   background-size:contain;
  //   content:'';
  //   display:inline-block;
  //   height:8px;
  //   width:17px;
  //   position:absolute;
  //   right:-2px;
  //   top:30%
  // }
}



.datepicker--small{
  width: 150px;
  height: 44px;
  font-size: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background-position:89% 54%;
}


.form-input {
  margin-bottom: 15px;
}

.form-input--last{
  margin-top: 8px;
  margin-bottom: 35px;
}

.form-input--small {
  display: flex;
  width: 70%;
  position: relative;
  margin-bottom: 15px;
}