doctype html
html(lang='ru')
  head
    include ../../block/input/input.pug
    include ../../block/logo/logo.pug
    include ../../block/dropdown/dropdown.pug
    include ../../block/datepicker/datepicker.pug
    include ../../block/checkbox/checkbox.pug
    include ../../block/description/description.pug
    include ../../block/radio-button/radio-button.pug
    include ../../block/toggle/toggle.pug
    include ../../block/button/button.pug
    include ../../block/like-button/like-button.pug
    include ../../block/rate-button/rate-button.pug
    include ../../block/slider/slider.pug
    include ../../block/pagination/pagination.pug
    include ../../block/bullet/bullet.pug

    title
  body
    -
      const pages = [
        {title: '1', path: '404.html', isActive: 'true'}, 
        {title: '2', path: '404.html'},
        {title: '3', path: '404.html'},
        {title: '...', path: '404.html'},
        {title: '15', path: '404.html'},
        {title: 'next', path: '404.html', isNext: 'true'},
      ];

    .logo
      +logo()
    .form-elements__container
      .form-elements__wrap
        .form-elements__row
          .form-elements__inputs
            .form-input        
              +input-default('TEXT FIELD','DEFAULT', 'Email')        
            .form-input  
              +input-default('TEXT FIELD','HOVER / FOCUS', 'This is pretty awesome', 'focus') 
            .form-input              
              +dropdown({type: 'peoples', text: 'DROPDOWN', isButtons: 'true'})
            .form-input.form-input--last 
              +input-placeholder('MASKED TEXT FIELD')
            .input__date-inputs
              +datepicker({id: '1', textStart: 'DATE DROPDOWN', textEnd: 'DATE DROPDOWN'})
            .form-input--small
              +datepickerRange
            .form-input--small.form-input--small_subscription
              +input-subscription('SUBSCRIPTION TEXT FIELD','', 'Email')  
          .form-elements__controls
            .controls 
              .controls__title-wrap                
                +description({text: 'checkbox buttons', type: 'h3', upperCase: 'true'})
              .controls__checkbox 
                +checkbox('Можно курить')
                +checkbox('Можно с питомцами', 'checked')
                +checkbox('Можно пригласить гостей (до 10 человек)', 'checked') 
            .controls
              .controls__title-wrap  
                +description({text: 'radio buttons', type: 'h3', upperCase: 'true'})
              +radio-button
            .controls
              .controls__title-wrap  
                +description({text: 'toggle', type: 'h3', upperCase: 'true'})
              +toggle-button({isChecked: 'true'})
              +toggle-button({})
            .controls
              .controls__title-wrap  
                +description({text: 'like button', type: 'h3', upperCase: 'true'})
              .controls__like-wrap
                .controls__like-button
                  +like-button({count:2})
                .controls__like-button 
                  +like-button({count:12, isActive: true})
            .controls
              .controls__title-wrap  
                +description({text: 'rate button', type: 'h3', upperCase: 'true'})
              .controls__rate-wrap
                .controls__rate-button
                  +rate-button({rate: 4, lenght: 5}) 
                .controls__rate-button
                  +rate-button({rate: 5, lenght: 5}) 
          .form-elements__buttons
            .buttons
              +rangeSlider({text:'range slider'})
            .buttons
              .buttons__title-wrap  
                +description({text: 'buttons', type: 'h3', upperCase: 'true'})
              .buttons__wrap
                .buttons__btn
                  +button({text:'click me', type: 'classic'})
                .buttons__btn
                  +button({text:'click me', type: 'classic', isVisited: 'true'})
              .buttons__wrap
                .buttons__btn
                  +button({text:'click me', type: 'transparent'})
                .buttons__btn  
                  +button({text:'click me', type: 'transparent', isVisited: 'true'})
              .buttons__wrap
                .buttons__btn
                  +button({text:'click me', type: 'url'})
                .buttons__btn  
                  +button({text:'click me', type: 'url', isVisited: 'true'})
              .buttons__wrap
                .buttons__btn
                  +button({text:'click me', type: 'classic', isLarge: 'true', withArrow: 'true'})
              .buttons__title-wrap  
                +description({text: 'pagination', type: 'h3', upperCase: 'true'})   
                +pagination(pages)             
        .form-elements__row
          .form-elements__row-wrap      
            .form-dropdown--small
              .form-dropdown--margin
                +dropdown({type: 'rooms', text: 'DROPDOWN', isButtons: 'true'})
              .form-dropdown--margin        
                +dropdown({type: 'rooms', text: 'DROPDOWN', status:'EXPANDED', isExpanded: 'true', isButtons: 'false'})            
          .form-elements__row-wrap      
            .form-dropdown
              .form-dropdown--margin
                +dropdown({type: 'peoples', text: 'DROPDOWN',  isExpanded: 'true', isButtons: 'true'})
          .form-elements__row-wrap      
            .form-dropdown
              .form-dropdown--margin
                +dropdown({type: 'peoples', text: 'DROPDOWN',  isExpanded: 'true', isButtons: 'true'}) 
        .form-elements__row
          .form-elements__row-wrap
            .form-expandable
              details.expandable-checkbox
                summary.expandable-checkbox__summary expandable checkbox list
                +checkbox('Завтрак')
                +checkbox('Письменный стол', 'checked')
                +checkbox('Стул для кормления', 'checked')
                +checkbox('Кроватка', 'checked')
                +checkbox('Телевизор')
                +checkbox('Шампунь')            
              details(open).expandable-checkbox
                summary.expandable-checkbox__summary expandable checkbox list
                +checkbox('Завтрак')
                +checkbox('Письменный стол', 'checked')
                +checkbox('Стул для кормления', 'checked')
                +checkbox('Кроватка', 'checked')
                +checkbox('Телевизор')
                +checkbox('Шампунь')
          .form-elements__row-wrap
            .form-expandable
              .buttons__title-wrap  
                +description({text: 'rich checkbox buttons', type: 'h3', upperCase: 'true'}) 
              +rich-checkbox('Широкий коридор','Ширина коридоров в номере не менее 91 см')              
              +rich-checkbox('Помощник для инвалидов','На 1 этаже вас встретит специалист  и проводит до номера.')
          .form-elements__row-wrap
            .form-bullet
              .buttons__title-wrap  
                +description({text: 'bullet list', type: 'h3', upperCase: 'true'})
                +bullet('Нельзя с питомцами') 
                +bullet('Без вечеринок и мероприятий') 
                +bullet('Время прибытия — после 13:00, а выезд до 12:00') 
              
              
                       
        .form-elements__row
          .form-elements__row-wrap
            ul.features
              li.features__item
                div.features__img.features__img-emoticon
                section.features__content
                  h2.features__title Комфорт
                  p.features__description Шумопоглощающие стены
              li.features__item            
                div.features__img.features__img-city
                section.features__content
                  h2.features__title Удобство
                  p.features__description Окно в каждой из спален
          .form-elements__row-wrap--large
            .form-elements__comment
              article.comment
                .comment__wrap
                  .comment__column 
                    .comment__avatar
                    .btn-like
                      +like-button({count:12, isActive: true})
                  .comment__column
                    p.comment__title Мурад Сарафанов
                    p.comment__date 5 дней назад
                    p.comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей. 