include ../../block/input/input.pug
include ../../block/logo/logo.pug
include ../../block/dropdown/dropdown.pug
include ../../block/datepicker/datepicker.pug
include ../../block/checkbox-group/checkbox-group.pug
include ../../block/checkbox-rich-group/checkbox-rich-group.pug
include ../../block/checkbox-expandable/checkbox-expandable.pug
include ../../block/description/description.pug
include ../../block/radio-button/radio-button.pug
include ../../block/toggle/toggle.pug
include ../../block/button/button.pug
include ../../block/like-button/like-button.pug
include ../../block/rate-button/rate-button.pug
include ../../block/slider/slider.pug
include ../../block/pagination/pagination.pug
include ../../block/bullet-list/bullet-list.pug
include ../../block/features/features.pug
include ../../block/comment/comment.pug

doctype html
html(lang='ru')
  head 
    title
  body
    -
      const pages = [
        {title: '1', path: '404.html', isActive: 'true'}, 
        {title: '2', path: '404.html'},
        {title: '3', path: '404.html'},
        {title: '...', path: '404.html'},
        {title: '15', path: '404.html'},
        {title: 'next', path: '404.html', isNext: 'true'},
      ];

    .logo
      +logo()
    .form-elements__container
      .form-elements__wrap
        .form-elements__row
          .form-elements__inputs
            .form-input        
              +input-default('TEXT FIELD','DEFAULT', 'Email')        
            .form-input  
              +input-default('TEXT FIELD','HOVER / FOCUS', 'This is pretty awesome', 'focus') 
            .form-input              
              +dropdown({type: 'peoples', text: 'dropdown', isButtons: 'true'})
            .form-input.form-input--last 
              +input-placeholder('MASKED TEXT FIELD')
            .input__date-inputs
              +datepicker({id: '1', textStart: 'DATE DROPDOWN', textEnd: 'DATE DROPDOWN'})
            .form-input--small
              +datepickerRange
            .form-input--small.form-input--small_subscription
              +input-subscription('SUBSCRIPTION TEXT FIELD','', 'Email')  
          .form-elements__controls
            +checkbox-group({description: 'checkbox buttons'})
            .controls
              .controls__title-wrap  
                +description({text: 'radio buttons', type: 'h3', upperCase: 'true'})
              +radio-button
            .controls
              .controls__title-wrap  
                +description({text: 'toggle', type: 'h3', upperCase: 'true'})
              +toggle-button({isChecked: 'true'})
              +toggle-button({})
            .controls
              .controls__title-wrap  
                +description({text: 'like button', type: 'h3', upperCase: 'true'})
              .controls__like-wrap
                .controls__like-button
                  +like-button({count:2})
                .controls__like-button 
                  +like-button({count:12, isActive: true})
            .controls
              .controls__title-wrap  
                +description({text: 'rate button', type: 'h3', upperCase: 'true'})
              .controls__rate-wrap
                .controls__rate-button
                  +rate-button({rate: 4, lenght: 5}) 
                .controls__rate-button
                  +rate-button({rate: 5, lenght: 5}) 
          .form-elements__buttons
            .buttons
              +rangeSlider({text:'range slider'})
            .buttons
              .buttons__title-wrap  
                +description({text: 'buttons', type: 'h3', upperCase: 'true'})
              .buttons__wrap
                .buttons__btn
                  +button({text:'click me', type: 'classic'})
                .buttons__btn
                  +button({text:'click me', type: 'classic', isVisited: 'true'})
              .buttons__wrap
                .buttons__btn
                  +button({text:'click me', type: 'transparent'})
                .buttons__btn  
                  +button({text:'click me', type: 'transparent', isVisited: 'true'})
              .buttons__wrap
                .buttons__btn
                  +button({text:'click me', type: 'url'})
                .buttons__btn  
                  +button({text:'click me', type: 'url', isVisited: 'true'})
              .buttons__wrap
                .buttons__btn
                  +button({text:'click me', type: 'classic', isLarge: 'true', withArrow: 'true'})
              .buttons__title-wrap  
                +description({text: 'pagination', type: 'h3', upperCase: 'true'})   
                +pagination(pages)             
        .form-elements__row
          .form-elements__row-wrap      
            .form-dropdown--small
              .form-dropdown--margin
                +dropdown({type: 'rooms', text: 'dropdown', isButtons: 'true'})
              .form-dropdown--margin        
                +dropdown({type: 'rooms', text: 'dropdown', status:'EXPANDED', isExpanded: 'true', isButtons: 'false'})            
          .form-elements__row-wrap      
            .form-dropdown
              .form-dropdown--margin
                +dropdown({type: 'peoples', text: 'dropdown',  isExpanded: 'true', isButtons: 'true'})
          .form-elements__row-wrap      
            .form-dropdown
              .form-dropdown--margin
                +dropdown({type: 'peoples', text: 'dropdown',  isExpanded: 'true', isButtons: 'true'}) 
        .form-elements__row
          .form-elements__row-wrap
            .form-expandable
              +checkbox-expandable({description: 'expandable checkbox list'})      
              +checkbox-expandable({description: 'expandable checkbox list'})    
          .form-elements__row-wrap
            .form-expandable
              +checkbox-rich-group({description: 'rich checkbox buttons'})            
          .form-elements__row-wrap
            .form-bullet
              +bullet-list({description: 'bullet list'})   
        .form-elements__row
          .form-elements__row-wrap
            +features({
              items: [
                {title: 'Комфорт', description: 'Шумопоглощающие стены', img: 'emoticon'},
                {title: 'Удобство', description: 'Окно в каждой из спален', img: 'city'}
              ]
            })    
          .form-elements__row-wrap--large
            .form-elements__comment
              +comment({
                  avatarSrc: require('../../block/comment/img/murad.jpg'),
                  name: 'Мурад Сарафанов', 
                  date: '5 дней назад', 
                  likeCount: '12', 
                  isActive: 'true', 
                  text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                })