
.form-elements-container {
  position:absolute;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 143px 0px 10px 141px;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.datepicker-here {
  display: flex;
  margin: 10px 0 0 0;  
  height: 44px;
  font-size: 14px;
}

.datepicker {
  margin: 10px 10px 10px 10px;
  width: 160px;  
}

.datapicker--small{
  width: 150px;
}

.datepicker--filter {
  margin: 10px 10px 10px 10px;
  width: 266px;  
}

.form-input {
  margin-bottom: 15px;
}