

.form-elements-container {
  position:absolute;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 143px 0px 10px 141px;
}

.form-expandable {
  width: 44%;
  margin-top: 150px;
}

.expandable-checkbox {
  margin: 22px 0 49px ;
  
  &:last-child {
    margin:0;
  }

  &__summary {
    position: relative;
    margin-bottom: 19px ;
    list-style: none;
    font-family: Montserrat,Arial,sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer; 

    &::before {
      background-image: url("../../img/expand_more.png");
      background-position:center;
      background-repeat:no-repeat;
      background-size:contain;
      content:'';
      display:inline-block;
      height:8px;
      width:17px;
      position:absolute;
      right:-2px;
      top:30%    
    }
  }

  &[open] {
    .expandable-checkbox__summary::before {
      transform: rotate(180deg);
    }
  } 
  
}

.input__date-inputs {
  width: 56%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 41px;
}

.form-dropdown {  
  margin-top: 66px;
  width: 46.5%;

  &--margin {
    margin-top: 20px;
  }
}

.form-input {
  margin-bottom: 15px;
  width: 56%;
}

.form-input--last{
  margin-top: 8px;
  margin-bottom: 35px;
}

.form-input--small {
  display: flex;
  width: 70%;
  position: relative;
  margin-bottom: 15px;

  &_subscription {
    margin-top: 25px;
  }
}