doctype html
html(lang="ru")
  head
    style      
      include ../../block/datapicker/datepicker.css
    include ../../block/input/input.pug
    include ../../block/logo/logo.pug
    include ../../block/dropdown/dropdown.pug
    include ../../block/input_date/input_date.pug      
    title
  body
      .logo
        +logo()
      .form-elements-container
        .form-input        
          +input-default("TEXT FIELD","DEFAULT", "    Email")        
        .form-input  
          +input-default("TEXT FIELD","HOVER / FOCUS", "    This is pretty awesome") 
        .form-input              
          +adddropdown() 
        .form-input 
          .input-desription--left MASKED TEXT FIELD       
          input(class="input masked-input" placeholder="ДД.ММ.ГГГГ")
        .row
          div(class="datapicker")
            div(class="input-desription--left") DATE DROPDOWN
            input(type="text" class="datepicker-here datapicker--small" value="ДД.ММ.ГГГГ")
          div(class="datapicker")
            div(class="input-desription--left") DATE DROPDOWN
            input(type="text" class="datepicker-here datapicker--small" value="ДД.ММ.ГГГГ")
        div() 
          div(class="input-desription--left") FILTER DATE DROPDOWN
          input(type="text" class="datepicker-here datapicker--filter" data-range="true" data-multiple-dates-separator=" - " value="ДД.ММ.ГГГГ")
        div
          div(class="input-desription--left") SUBSCRIPTION TEXT FILED 
          input(type="email")