.checkbox-container {
  margin: 0;
  margin-bottom: 12px;
  box-sizing: content-box;

  &:last-child {
    margin-bottom: 0;
  }

  & .checkbox {
    display: none;
    $item: "checkbox";

    &:checked {
      & + .#{$item}__span::after {
        visibility: visible;
        opacity: 1;
      }    
      & + .#{$item}__span::before {
        border-color: $purpleColor;
      }  
    }

    &__label{
      margin: 0;
      font-family: $font-stack;
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
      color: $mainColor--opacity-50;
      cursor: pointer;

    }

    &__description {
      position: relative;
      padding-left: 30px;
      padding-top: 5px;
      display: block;
      font-size: 12px;
      line-height: 14px;
      font-weight: normal;
      color: $mainColor--opacity-50;
    }

    &__span{
      position: relative;
      padding-left: 30px;
      display: block;
      font-size: 14px;
      line-height: 18px;
      font-weight: normal;
      color: $mainColor--opacity-50;

      &--rich {
        font-weight: bold;
        font-style: normal;
        color: $mainColor--opacity-75;
      }

      &::before {
        position: absolute;
        top: -2px;
        left: 0;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        content: '';
        background-color: transparent;
        border: 1px solid $mainColor--opacity-25;
        border-radius: 4px;
        transition: border .3s ease 0s;
      }

      &::after {
        position: absolute;
        top: 3px;
        left: 7px;
        visibility: hidden;
        width: 4px;
        height: 6px;
        opacity: 0;
        content: '';
        background-color: transparent;
        border-right: 2px solid $purpleColor;
        border-bottom: 2px solid $purpleColor;
        transition: opacity .3s ease 0s, visibility .3s ease 0s;
        transform: rotate(45deg);
      }
    }
  }
}