@import "../index/index.scss";

.color-type {
  position:absolute;
  width: 100%;
  display: flex;
  flex-direction: row;

  &__column-1 {
    position:relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 134px 0px 10px 150px;
  }

  &__column-2 {
    position:relative;
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 129px 0px 10px 164px;
  }

  &__row-1-1 { 
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center;
    box-sizing: border-box;
  }
  
  &__row-2-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  &__column-2-1 { 
    width: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-end;
  }
  
  &__column-2-2 { 
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 15px;
  }
  
  &__column-1-1 {
    margin: 10px 0;
  }
  
  &__column-1-2 {    
    position: relative;
    margin-left: 40px;
    font-size: 19px;
  }
  
  &__description--h1{
    display: flex;
    margin-left: 30px;
    margin-bottom: 36px;
  }
  
  &__heading {
    width: auto;
    display: flex;
    height: 70px;
    margin-top: 15px;
  }
  
  &__heading--h1 {
    font-size: 24px;
    color: $dark-shade-25;
  }
  
  &__description--h2 {
    display: flex;
    margin-left: 30px;
    margin-bottom: 28px;
  }
  
  &__heading--h2 {
    font-size: 19px;
    color: $dark-shade-25;
  }
  
  &__description--h3 {
    display: flex;
    margin-left: 30px;
  }
  
  &__heading--h3 {
    font-size: 12px;
    color: $dark-shade-25;
    margin-top: 16px;
  }

  &__description--p {
    display: flex;
    margin-left: 30px;
    margin-top: 2px;
  }
  
  &__row-2-1--height {
    height: 60px;
    margin-top: 7px;
  }
  
  &__column-2-2--width {
    width: 60%;
  }
  
  &__heading--p {
    font-size: 14px;
    color: $dark-shade-25;
    margin-top: 21px;
  }
  
  &__description{ 
    position: relative; 
    margin: 5px 0;
  }
  
  &__description--bold{
    font: 100% $font-stack;
    font-weight: bold;
  }

  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
}

.square--dark-shade-100 {  
  background-color: $dark-shade-100;
}

.square--dark-shade-75 {  
  background-color: $dark-shade-75;
}

.square--dark-shade-50 { 
  background-color: $dark-shade-50;
}

.square--dark-shade-25 { 
  background-color: $dark-shade-25;
}

.square--dark-shade-5 {
  background-color: $dark-shade-5;
}

.square--purple {
  background-color: $button-primary-color;
}

.square--green {
  background-color: $button-green-color;
}
