mixin datepicker(value) 
  div(class="datepicker-cont")
    div(class="input-desription--left") DATE DROPDOWN
    input(type="text" class="datepicker-here datepicker--small"  value=value)

mixin datepicker-filter(value)
  div(class="datepicker-cont")
    div(class="input-desription--left") FILTER DATE DROPDOWN
    input(type="text" class="datepicker-here datepicker--filter" data-range="true" data-clear-button="true" data-apply-button="true" data-multiple-dates-separator=" - " value=value)