include ../../block/logo/logo.pug
include ../../block/button/button.pug

mixin header({isAuth}) 
  header.header
    .header__container
      .header__wrap
        +logo-large
        .header__menu
          nav.header__nav
            ul.header__list
              li.header__item
                a.header__item-link(href='404.html') О нас
              li.header__item
                a.header__item-link.header__item-link-arrow(href='404.html') Услуги                
              li.header__item
                a.header__item-link(href='404.html') Вакансии
              li.header__item
                a.header__item-link(href='404.html') Новости
              li.header__item
                a.header__item-link.header__item-link-arrow(href='404.html') Соглашения
          .header__auth            
            if(isAuth)
              section.header__authenticated
                p.header__authenticated-login Юлий Цезарь
            else 
              .header__auth-login
                +button({text:'войти', type: 'transparent', isSmall: 'true', isTight: 'true'}) 
              .header__auth-reg
                +button({text:'зарегистрироваться', type: 'classic', isMedium: 'true', isTight: 'true'})
                
                