mixin rangeSlider({text})
  .slider__title-wrap  
    +description({text: text, type: 'h3', upperCase: 'true'})
    .slider__count-wrap
      p.slider__count(id='lower-value') 
      p.slider__count(id='upper-value') 
  .slider__range(id='slider')