extends ../layout/layout.pug
include ../../block/registration/registration.pug

block content
  .registration-page
    .registration-page__container
      .registration-page__wrap
        +registration