mixin input-default(text, status, value)
  form(class="input-form" action="error.js")
    div(class="input-description")
      div(class="input-desription--left") #{text}
      div(class="input-desription--right") #{status}
    input(type="text" class="input-default" value=value onfocus="this.value=''")
