// @import "../../style/fonts/Montserrat/fonts.css";
// @import "../../style/fonts/Montserrat-Bold/fonts.css";
// @import "../../style/color.scss";
// $font-stack: Montserrat, Arial, sans-serif;
// $font-stack-bold: Montserrat-Bold, Arial, sans-serif;
@import "../../style/fonts/Montserrat/fonts.css";
@import "../../style/color.scss";
$font-stack: Montserrat, Arial, sans-serif;

.input-description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  width: 320px;
}

.input-default {
  position: relative;
  display: flex;
  width: 320px;
  height: 44px;
  font-family: $font-stack;
  font-size: 14px;
  color: $dark-shade-25;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin: 5px 0;
  padding-left: 14px;
  outline: none;

  &::-moz-placeholder {
    color: $dark-shade-25;
  } 

  &::-webkit-input-placeholder {
    color: $dark-shade-25;
  }  

  &:focus {
    color: rgba(31, 32, 65, 1);
    border: 1px solid rgba(31, 32, 65, 0.5);   
  }
  
  &__focus {
    color: rgba(31, 32, 65, 1);
    border: 1px solid rgba(31, 32, 65, 0.5);   
  }
}

.input-subscription {
  position: relative;
  display: flex;
  width: 83%; 
  height: 44px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);   
  margin-top: 5px;
  padding-left: 14px;
  justify-content: space-between;

  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);    
  }
}

.input-subscription_input {
  margin-top: 0px;
  border: none;
  height: 42px;  
  outline: none;
  font-family: $font-stack;
  font-size: 14px;
  color: $dark-shade-25;
  &::-moz-placeholder {
    color: $dark-shade-25;
  } 

  &::-webkit-input-placeholder {
    color: $dark-shade-25;
  }  
 
}

.input-subscription_button {
  position: relative;
  display: flex;
  background-color: transparent;
  background-image: url("../../img/arrow_forward.png");
  background-repeat: no-repeat;
  background-position:  55% 50%;
  height: 44px;
  width: 44px;
  cursor: pointer;
  border: none;
}

textarea:hover{
  color: $dark-shade-100;
}

.input-desription--left {
  display: flex;  
  font: $font-stack;
  font-weight:bold;
  font-size: 12px;
  color: $dark-shade-100; 
}

.input-desription--right {
  display: flex;
  font-size: 12px;
  color: $dark-shade-50;
}
