
.input-description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  width: 100%;
}

.input-default {
  position: relative;
  display: flex;
  width: 100%;
  height: 44px;
  font-family: $font-stack;
  font-size: 14px;
  color: $mainColor--opacity-25;
  background: $whiteColor;
  border: 1px solid $mainColor--opacity-25;
  border-radius: 4px;
  margin: 5px 0;
  padding-left: 14px;
  padding-bottom: 4px;
  outline: none;

  &::-moz-placeholder {
    color: $mainColor--opacity-25;
  } 

  &::-webkit-input-placeholder {
    color: $mainColor--opacity-25;
  }  

  &:focus {
    color: rgba(31, 32, 65, 1);
    border: 1px solid $mainColor--opacity-50;   
  }
  
  &__focus {
    color: rgba(31, 32, 65, 1);
    border: 1px solid $mainColor--opacity-50;   
  }
}

.input-subscription {
  position: relative;
  display: flex;
  height: 44px;
  background: $whiteColor;
  border-radius: 4px;
  border: 1px solid $mainColor--opacity-25;   
  margin-top: 5px;
  padding-left: 14px;
  justify-content: space-between;

  &:hover {
    border: 1px solid $mainColor--opacity-50;    
  }
}

.input-subscription_input {
  margin-top: 0px;
  border: none;
  height: 42px;  
  outline: none;
  font-family: $font-stack;
  font-size: 14px;
  color: $mainColor--opacity-25;
  &::-moz-placeholder {
    color: $mainColor--opacity-25;
  } 

  &::-webkit-input-placeholder {
    color: $mainColor--opacity-25;
  }  
 
}

.input-subscription_button {
  position: relative;
  display: flex;
  background-color: transparent;
  background-image: url("../../img/arrow_forward.png");
  background-repeat: no-repeat;
  background-position:  55% 50%;
  height: 44px;
  width: 44px;
  cursor: pointer;
  border: none;
}

textarea:hover{
  color: $mainColor;
}

.input-desription--left {
  display: flex;  
  font: $font-stack;
  font-weight:bold;
  font-size: 12px;
  color: $mainColor; 
}

.input-desription--right {
  display: flex;
  font-size: 12px;
  color: $mainColor--opacity-50;
}


.input-form {
  width: 100%;
}